# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
dist/
build/

.vscode/
venv/
.venv/

backend/storage/outputs/*.csv
backend/storage/uploads/*.xml
backend/storage/outputs/*.json
backend/storage/outputs/*.zip
